body {
    font-family: "Roboto", sans-serif;
        color: #434455;
        background-color: #ffffff;
        letter-spacing: 0.02em;
}

.page-header,
.page-footer {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo,
.footer-logo {
        font-size: 18px;
        color: #4d5ae5;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.header-logo-color {
    color: #2e2f42;
}

.footer-logo-color {
    color: #f4f4fd;
}


.header-link {
    color:#2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.50;
        transition: color 0.3s;
}

.header-link:hover,
.header-link:focus {
    color: #404bbf;
}

.ul {
    list-style-type: "none";
}

.header-address {
        font-size: 16px;
        color: #434455;
        font-style: normal;
        line-height: 1.50;
}

.header-address-mail:hover,
.header-address-mail:focus {
    color: #404BBF;
}

.section-one {
    background-color: #2E2F42;
}

.page-title {
    color: #FFF;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
}

.title-button {
    color:#FFF;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        cursor: pointer;
        background-color: #4D5AE5;
        font-weight: 500;
        line-height: 1.50;
        letter-spacing: 0.04em;
}

.title-button:hover,
.title-button:focus {
    background-color: #404BBF;
}

.section-benefitions {
    color:#2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.20;
        letter-spacing: 0.02em;
}

.benefits-text, .port-text {
        font-size: 16px;
        line-height: 1.50;
}

.section-three {
    background-color: #F4F4FD;
}

.section-team {
    color:#2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        text-transform: capitalize;
        letter-spacing: 0.02em;
}

.team-images-ver {
    background-color: #FFFFFF;
}

.team-image-one {
    color:#2E2F42;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.20;
        letter-spacing: 0.02em;
}

.team-text {
        text-align: center;
        font-size: 16px;
        line-height: 1.50;
}

.section-port {
    color:#2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        text-transform: capitalize;
        letter-spacing: 0.02em;
}

.port-image-one {
    color:#2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.20;
}

.page-footer {
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
        text-transform: uppercase;
}

.footer-text {
    font-size: 16px;
        line-height: 1.50;
        color: #F4F4FD;
}